@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    -webkit-user-select: none;
    user-select: none;
  }
}
